// @import './node_modules/bootstrap/scss/bootstrap' ;

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

body{
     background-color: black;
     color: white;
     background-size: 100vh;
}

.container{
     max-width: 1200px;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
}